* {
  margin: 0;
}

.app-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* error display has no css */

/* Loading css below */

.loader {
  font-size: var(--font-size-regular);
}
