* {
  margin: 0;
}

.app-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* error display has no css */

/* Loading css below */

.loader {
  font-size: var(--font-size-regular);
}

/* Weather indicator file css below */

.indicator {
  display: flex;
  flex-direction: column;
  width: 10rem;
  align-items: center;
  color: gray;
  font-weight: 500;
}

.today {
  background-color: var(--color-active);
}

/* Temperature group css below */

.temp-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.temp-group > * {
  margin: 0 0 1rem;
  font-size: var(--font-size-regular);
}

.max-temp {
  color: var(--font-color-dark);
}
